<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>car_pooling</title>
    <link rel="stylesheet" href="home.css">
    
</head>
<body>
    <header>
        <div class="nav">
            <div class="left-nav">
                <div class="l-nav">
                    <a class="nav-item" href="#">Home</a>
                    <!-- <a class="nav-item" href="#">About</a> -->
                    <a class="nav-item" href="lift.html">Lift</a>
                    <a class="nav-item" href="contact.html">Contact Us</a>
                    <a class="nav-item" href="offer.html">Offer</a>
                </div>
            </div>

            <div class="right-nav">
                <div class="r-item">
                    <a class="signup" href="index.html">Sign Up</a>
                </div>
            </div>
        </div>

    </header>
    
    
        <div class="back">
            <h1>Welcome to Carpooling System</h1>
            <p>A Carpooling System provides an eco-friendly, cost-effective way to share rides, connecting drivers with passengers going in the same direction. It reduces traffic, lowers fuel costs, and minimizes pollution, making it ideal for daily commutes or trips. This helps people save money, reduce their carbon footprint, and build community connections.</p>
        </div>
    <script src="index.js"></script>
</body>
</html>